# Auto detect text files and perform LF normalization
*          text=auto
**/Shaders/* linguist-vendored=false
**/cginc/* linguist-vendored=false
*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf